:root {
  --primary-text-gray: #beb6bf;
  --secondary-text-gray: #8e888f;
}

.about-title .title {
  color: var(--primary-text-gray);
  font-size: 3rem;
}

.about-post {
  margin: 2em 0 0 0;
}

.about-post h2,
.about-post p {
  font-size: 2rem;
  color: var(--primary-text-gray);
}

.about-post h2 {
  margin-top: 2em;
}

.about-post p {
  margin: 1em 0 1em 0;
}

.about-post p a {
  color: var(--primary-text-gray);
}

.about-post p a:hover {
  color: var(--secondary-text-gray);
}
