* {
  margin: 0;
}

html {
  font-size: 62.5%;
  background: #383640;
}

.app .container-section,
.app .nav-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.app .footer-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
