:root {
  --base-size: 62.5%;
  --background-dark: #383640;
  --background-light: #ffffff;
}

* {
  margin: 0;
}

html {
  font-size: var(--base-size);
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.dark {
  background: var(--background-dark)
}

.light {
  background:  var(--background-light);
}

.app .container-section,
.app .nav-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.app .footer-section {
  display: flex;
  flex-direction: column-reverse;
  align-self: center;
  align-content: flex-end;
  width: 50%;
  height: 100vh;
}
