:root {
  --base-size: 62.5%;
  --background-gray: #383640;
}

* {
  margin: 0;
}

html {
  font-size: var(--base-size);
  background: var(--background-gray);
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.app .container-section,
.app .nav-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.app .footer-section {
  display: flex;
  flex-direction: column-reverse;
  align-self: center;
  align-content: flex-end;
  width: 50%;
  height: 100vh;
}
