.footer {
  display: flex;
  position: fixed;
  bottom: 0;
  margin-bottom: 2em;
  align-self: center;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 6em;
  /* background: red; */
}

.footer .twitter-icon {
  margin-right: 0.5em;
}

.footer .github-icon {
  margin-left: 0.5em;
}
