.footer {
  display: flex;
  margin: 2em 0;
  align-self: center;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 6em;
}

.footer .twitter-icon {
  margin-right: 0.5em;
}

.footer .github-icon {
  margin-left: 0.5em;
}
